.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.form-container .input {
  display: flex;
  flex-direction: column;
  align-items: start;
}
