* {
  margin: 0;
}

.notes-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.notes-controlls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(32, 29, 35);
  padding: 0 20px;
  width: calc(100vw - 40px);
  height: calc(70px - 0px);
  box-shadow: 0px -1px 10px black;
  z-index: 100000;
}

.notes-controlls .controlls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
}

.notes-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 50px);
  width: calc(100% - 10px);
}

.notes-search {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: calc(calc(100% - 0px));
  width: 350px;
  background-color: rgb(34, 34, 34);
  scrollbar-width: none;
}

.notes-search input {
  background-color: rgb(26, 26, 26);
  padding: 5px 15px;
  border: 2px solid snow;
  border-radius: 1000px;
}

.note-current {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  height: 100%;
  width: 100%;
  border-left: 2px solid rgb(218, 218, 218);
  background-color: rgb(44, 44, 44);
}

.note {
  background-color: rgb(30, 29, 29);
  padding: 10px 10px;
  border: 2px solid rgb(118, 115, 120);
  box-shadow: 0 5px 10px -2px rgb(0, 0, 0);
  border-radius: 10px;
  width: 80%;
  transition: all 0.3s;
}

.note:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 10px -1px rgb(0, 0, 0);
}

.note.selected {
  background-color: rgb(26, 26, 28);
  border: 5px solid rgb(180, 51, 255);
  box-shadow: 0 5px 15px -10px rgb(180, 51, 255);
}

.note.selected:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 10px -4px hsl(278, 100%, 50%);
}

.note-head {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.note-head h1 {
  height: fit-content;
}

.note-head p {
  color: #6a6a6a;
}

.note-content {
  display: flex;
  align-items: start;

  margin: 5px;
  width: 100%;
}

.note-content p {
  text-align: start;
}

.note .tags {
  display: flex;
  flex-direction: row;
  align-content: start;
  justify-content: start;
  width: 100%;
  gap: 10px;
  overflow: hidden;
  overflow-x: auto;
}

.note .tags {
  scrollbar-width: none;
}

.note .tags p {
  background-color: rgb(5, 125, 180);
  border-radius: 4px;
  padding: 2px 6px;
}

.note-edit-title {
  background-color: none;
  color: rgb(223, 223, 223);
  background-color: rgb(34, 35, 36);
  font-size: 24px;
  font-weight: 400;
  text-rendering: auto;
  border: none;
  padding: 0 10px;
  height: 50px;
  width: calc(100% - 20px);
}

.note-edit-title:focus {
  outline: none;
}

.note-extra-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;
  background-color: rgb(34, 35, 36);
  border-top: 1px solid white;
  width: calc(100% - 20px);
  height: 35px;
}

.note-extra-options input {
  background-color: rgb(34, 35, 36);
  border: 2px solid rgb(197, 197, 197);
  border-radius: 5px;
  height: calc(30px - 6px);
  width: 150px;
  transition: all 200ms cubic-bezier(0.78, 0, 0.22, 1) 0s;
}

.note-extra-options input:focus {
  border: 2px solid rgb(183, 28, 235);
  outline: none;
  width: 200px;
}

.note-Note {
  padding: 10px;
  border: none;
  background-color: rgb(34, 35, 36);
  border-top: 1px solid white;
  resize: none;
  width: calc(100% - 20px);
  height: calc(100% - 40px);
}

.note-Note:focus {
  /* border: none; */
  outline: none;
}
