.note-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
}

.note-card:hover {
  background-color: rgb(96, 96, 96);
  cursor: pointer;
}

.note-card div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 0px;
  width: calc(100%);
}

.note-card h3 {
  margin: 0px;
  font-size: 1.5em;
  color: white;
}

.note-card p {
  margin: 0px;
  font-size: 1em;
  color: gray;
}

/* .notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
} */
