#form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: inherit;
  gap: 5px;
}

#form input {
  width: 50%;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 100vh;
}

#form div {
  display: flex;
  flex-direction: row;
  width: calc(50% + 20px);
  padding: 0px 0px;
}

#form div input {
  width: 100%;
}
